@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap');
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** 1rem = 10px **/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Globales */


h1,
h2,
h3,
h4,
p,
a {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p {
  color: white;
  font-size: 1.4rem;
  margin-top: .5rem;
  line-height: 2.5rem;
  letter-spacing: .05rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/** Utilidades **/

.contenedor {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-weight: 300;
  color: black;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.section-title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  transition: .3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: crimson;
}

/** Navegacion **/
#navegacion {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#navegacion .navegacion {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: .3s ease background-color;
  -webkit-transition: .3s ease background-color;
  -moz-transition: .3s ease background-color;
  -ms-transition: .3s ease background-color;
  -o-transition: .3s ease background-color;
}

#navegacion .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

#navegacion .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}

#navegacion .nav-list ul.active {
  left: 0;
}

#navegacion .nav-list ul a {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: .2rem;
  color: white;
  padding: 1rem;
  display: block;
}

#navegacion .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: .3s ease letter-spacing;
}

#navegacion .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#navegacion .nav-list ul li:hover a {
  color: crimson;
}

#navegacion .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}

#navegacion .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#navegacion .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#navegacion .hamburger .bar::after,
#navegacion .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}

#navegacion .hamburger .bar::after {
  top: 8px;
}

#navegacion .hamburger .bar::before {
  bottom: 8px;
}

#navegacion .hamburger.active .bar::before {
  bottom: 0;
}

#navegacion .hamburger.active .bar::after {
  top: 0;
}

/** Fin navegacion **/
/** Header **/
#hero {
  background-image: url(../img/woman-865111_1920.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .7;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h2 {
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  -webkit-animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}

#hero h2:nth-child(1) {
  animation-delay: 1s;
}

#hero h2:nth-child(2) {
  animation-delay: 2s;
}

#hero h2 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  -webkit-animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}

#hero h2:nth-child(1) span {
  animation-delay: .5s;
}

#hero h2:nth-child(2) span {
  animation-delay: 1s;
}

/* Final header  */

/** presentacion **/

#presentacion .presentacion {
  flex-direction: column;
  text-align: center;
  max-width: 120rem;
  margin: auto;
  padding: 10rem 0;
}

#presentacion .presentacion__top {
  margin: 0 auto;
}

#presentacion .presentacion__bottom {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#presentacion .presentacion p {
  color: black;
  text-align: center;
}

#presentacion .presentacion .cta {
  color: #000;
}

#presentacion .presentacion .cta:hover {
  color: white;
}



#presentacion .presentacion__video {
  padding-top: 56.25%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top: 4rem;
}

#presentacion .presentacion__video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/** Final presentacion **/

/** emprende **/


#emprende .emprende {
  max-width: 120rem;
  margin: auto;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;

}

#emprende .emprende__item {
  line-height: normal;
  text-align: center;
  padding: 2.5rem;
  margin: 1rem 5%;
  font-size: 1rem;
  color: white;
  background-image: url(../img/office-620822_1280.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#emprende .emprende__item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .8;
  z-index: -1;
}

#emprende .emprende__item h4 {
  text-align: left;
}

#emprende .emprende__item p {
  text-align: left;
}

/** Final emprende **/

/** Registrate **/

#registrate .registrate {
  background-image: url(../img/office-620822_1280.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  line-height: 1;
  padding: 2rem 1rem;
  z-index: 1;
}

#registrate .registrate::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .8;
  z-index: -1;
}

.regitrate__item {
  max-width: 120rem;
  margin: auto;
}

#registrate .registrate h4 {
  text-transform: uppercase;
  color: white;
}

/** Final registrate **/

/** Rangos **/

#rangos .rangos {
  flex-direction: column;
  text-align: center;
  max-width: 150rem;
  margin: auto;
  padding: 10rem 0;
}

#rangos .rangos__top {
  text-align: center;
  margin: 0 auto;
  max-width: 50rem;
  padding-top: 1.5rem;
}

#rangos .rangos__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

#rangos .rangos__bottom-item {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: .2;
  padding: 3rem;
  font-size: 1rem;
  margin: 1rem 5%;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}


#rangos .rangos__bottom-item span {
  padding: 2rem 3rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  background-color: crimson;
  margin-bottom: 2rem;
}

#rangos .rangos__bottom-item p {
  color: #fff;
  text-align: left;
  line-height: 1;
  margin-top: 1rem;
}

#rangos .rangos__bottom-item .fas {
  padding-right: 1rem;
}

/** Final Rangos **/

/**  Seccion Testimonios **/

#testimonios .testimonios {
  flex-direction: column;
  padding: 10rem 0;
  margin: auto;
  max-width: 150rem;

}
#testimonios .testimonios__top{
  margin-bottom: 5rem;
}

#testimonios .testimonios__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin: 2rem;
}

#testimonios .testimonios .testimonios__bottom-item {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  margin: 1rem 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#testimonios .testimonios__bottom-img {
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
  border: 5px solid #fff;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#testimonios .testimonios__bottom-img img {
  height: 100%;
  width: 100%;
}

/** Final seccion testimonios **/

/*  Seccion Contacto */

#contacto .contacto {
  flex-direction: column;
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 0;
}

#contacto .contacto__bottom {
  width: 400px;
  margin-top: 5rem;
}

#contacto .contacto__bottom-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: .3s ease box-shadow;
  -webkit-transition: .3s ease box-shadow;
  -moz-transition: .3s ease box-shadow;
  -ms-transition: .3s ease box-shadow;
  -o-transition: .3s ease box-shadow;
}

#contacto .contacto__bottom-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

#contacto .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

#contacto .icon i {
  font-size: 4rem;
}

#contacto .contacto__bottom-info h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

#contacto .contacto__bottom-info h3 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/*  Final Seccion Contacto */
/* Footer */

#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer .footer__social-icon {
  display: flex;
  margin-bottom: 3rem;
}

#footer .footer__social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .footer__social-item i {
  font-size: 3rem;
  color: white;
}

#footer p {
  color: white;
  font-size: 1.3rem;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

/* Final Footer */

/** Nosotros  Banner**/

#hero__banner {
  background-image: url(../img/conference-room-768441_1280.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero__banner::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
  z-index: -1;
}

#hero__banner .hero__banner {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem;
  justify-content: flex-start;
}

.hero__text h2 {
  font-weight: 300;
  color: white;

}

/**End Nosotros  Banner**/

/* Nosotros */

#nosotros .nosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

}

#nosotros .nosotros__items {
  padding: 4rem;
}

#nosotros .nosotros .nosotros__item {
  margin: 2rem;
}

#nosotros .nosotros__item h2 {
  text-align: center;
  font-weight: 300;
  margin-top: 2rem;
  color: crimson;
  text-transform: uppercase;
}

#nosotros .nosotros__item p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#nosotros .nosotros__item-img {
  max-width: 60rem;
}

/* End Nosotros */

/* Representantes */

#representantes .representantes {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10rem 2rem;
  margin: 0 auto;
  max-width: 120rem;

}

#representantes .col-left {
  width: 250px;
  height: 320px;
  margin: auto;
  margin-bottom: 5rem;
}

.representantes__item {
  margin-bottom: 4rem;
}

#representantes .col-right {
  width: 100%;
}

#representantes .col-left .representantes-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid #fff;
  background-color: #000;
}

#representantes .col-left .representantes-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

#representantes .col-left .representantes-img::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 40px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;

}

#representantes .col-right h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
}

#representantes .col-right p {
  color: black;
  text-align: center;
}

/** End Representantes **/

/* keyframes*/
@keyframes hamburger_puls {

  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

/* End keyframes */

/* Media  Query For tablet*/
@media only screen and (min-width:768px) {

  .cta {
    font-size: 2rem;
    padding: 1rem 3rem;
  }

  .section-title {
    font-size: 5rem;
  }

  p {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  /* Hero */

  #header h2 {
    font-size: 6rem;
  }

  /* End Hero */

  /*  Emprende */

  #emprende .emprende__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #emprende .emprende__item {
    flex-basis: 45%;
    margin: 2.5%;
  }

  /* End Emprende */

  /*  Rangos */

  #rangos .rangos__bottom-item {
    flex-basis: 45%;
    margin: 2.5%;
  }

  /*  End Rangos */

  /* Testimonios */

  #testimonios .testimonios .testimonios__bottom-item {
    flex-basis: 45%;
    margin: 1%;
  }

  /* End Testimonios */

  /*  Nosotros */

  #nosotros .nosotros__items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #nosotros .nosotros__item {
    flex-basis: 45%;
    margin: 1.5%;
  }

  #representantes .representantes__item {
    display: flex;
    flex-direction: row;
  }

  #representantes .representantes__item {
    margin: 5rem;
  }

  #representantes .representantes .col-left .representantes-img::after {
    left: -4.5rem;
    top: 3.4rem;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }

  #representantes .col-right {
    text-align: left;
    padding: 3rem;
  }

  #representantes .col-right h2 {
    text-align: left;
  }

  #representantes .col-right p {
    text-align: left;
  }

  /* End representantes */

}

/* End Media  Query For tablet*/

/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {

  .hero__texto h2 {
    font-size: 5rem;
  }

  .section-title {
    font-size: 3.5rem;
    text-align: left;
  }

  #navegacion .navegacion {
    justify-content: center;
  }

  /* Navegacion */
  #navegacion .hamburger {
    display: none;
  }

  #navegacion .nav-list ul {
    position: initial;
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: transparent;

  }

  #navegacion .nav-list ul li a {
    font-size: 1.6rem;
  }

  #navegacion .nav-list ul a:after {
    display: none;
  }

  /*End Navegacion */

  /* Presentacion */

  #presentacion .presentacion__bottom {
    display: flex;
    flex-direction: row;
  }

  #presentacion .presentacion__item {
    margin: 2.5%;
    flex-basis: 45%;
  }

  #presentacion .presentacion__item p {
    text-align: left;
  }

  /* End presentacion */

  /* emprende */
  #emprende .emprende__items {
    display: flex;
  }

  #emprende .emprende__item {
    flex-basis: 30%;
    margin: 1%;
  }

  #emprende .emprende__item .margen {
    padding-bottom: 3rem;
  }

  /* End emprende */

  /* Rangos */

  #rangos .rangos__bottom {
    display: flex;
  }

  #rangos .rangos__bottom-item {
    flex-basis: 20%;
    margin: 2.5%;
    line-height: .2;
  }

  #rangos .rangos__bottom-item span {
    line-height: 2;
  }

  #rangos .rangos__bottom-item p {
    line-height: 1;
  }

  /* End Rangos */

  /*  Testimonios */

  #testimonios .testimonios__bottom{
    display: flex;
  }
  #testimonios .testimonios__bottom-item {
    flex-basis: 30%;
    margin: auto;

  }

  /* End Testimonios */
  /* Contacto */
  #contacto .contacto {
    padding: 10rem 1rem;
    align-items: center;
    min-width: 20vh;
  }

  #contacto .contacto__top {
    margin-bottom: 5rem;
  }

  #contacto .contacto__bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  #contacto .contacto__bottom-item {
    flex-direction: row;
    margin: 5rem 10rem;
  }

  #contacto .contacto__bottom-item .icon {
    padding-right: 3rem;
  }

  #contacto .contacto__bottom-item .contacto__bottom-info {
    width: 100%;
    text-align: left;
    padding-left: 2rem;
  }

  #contacto .contacto__bottom-item .contacto__bottom-info h3 {
    font-size: 1.6rem;
  }

  /* End contacto */
}

/* End  Media Query For Desktop */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
